#navbarSupportedContent
{
    margin-right: 100px;
}
body{
    font-family: verdana;
    background:#eee;
}
.main{
    height:100vh;
    background: #eee;
    text-align: center;
}
h1, h2{
    font-family: 'Roboto Mono', monospace;
}

.main h1{
    font-size: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.nav{
    width: 100%;
    text-align: center;
    background: rgb(5, 85, 19);
    left: 0;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.2);
}
.bottom-nav{
    position: absolute;
    bottom: 0;
}
.top-nav{
    position: fixed;
    top: 0;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}
.nav ul li .nav-link{
    text-decoration: none;
    color: #ccc;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
}
.nav ul li .nav-link:hover{
    color: #eee;
    background: rgb(12, 126, 16, 0.2);
    opacity: 50;
}
.container{
    width: 70%;
    margin-top:50px auto;
   padding: 50px;

}
.container .box{
    width: 100%;
    margin-top:50px;
    margin-bottom: 50px;
    padding: 50px; 
    background:#fff;
    border-radius: 10px;
    box-shadow:0 5px 10px -3px rgba(0,0,0,.1) 
}
#blurb{
    background-color: lightgray;
}
#inBlurb{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.2);
}
#me{
    border-radius: 25px;
    padding: 0;
    margin-left: 70px;
    margin-right: 0px;
    padding-right:0px ;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.2);
}
#me2{
    border-radius: 25px;
    padding: 0;
    margin-right: 70px;
    margin-left: 0px;
    padding-left:0px ;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.2);
}
@media (max-height:852px)
{
  
    #subheader{
        display: none;
    }
}
@media (max-height:852px)
{
  
    #title{
       display: none;
    }
}
@media (max-height:690px)
{
  
    #logo{
        display: none;
    }
}
@media (max-height:852px)
{
  
    .main{
       display: none;
    }
}